<h1><%= t "email_label_activation" %></h1>
<p><%= t "email_greeting", name: @customer.name %></p>
<p><%= t "label_to_active_mail" %></p>
<%= link_to t("link_to_active_mail"), edit_account_activation_url(@customer.activation_token,
  email: @customer.email) %>
