<div class="row">
  <div class="col-xs-6">
    <h1>
      <img class="logo-invoice"
      src="http://hoianlotushotel.com/images/logo.png"/><br>
    </h1>
  </div>"
    <div class="col-xs-6 text-right">
      <h1><%= t "invoice_header" %></h1>
      <h1><small><%= t "invoice_no", id: @invoice.id %></small></h1>
  </div>
</div>
