<section id="show-room" class="container content-section text-center">
  <div class="services">
    <div class="container">
      <div class="col-md-6 services-left">
        <%= render @room %>
      </div>
      <div class="col-md-6 services-right"></div>
    </div>
  </div>
</section>
